html, body {
  margin: 0;
  padding: 0;
}

.home{
  background-color: #dfe9ff;
  height: 100vh;
}

.inner{
  max-width: 1200px;
  margin: 0 auto;
}


/*--------HEADER--------*/
header{
  background-color: #fff;
  box-shadow: 0px 10px 20px -10px #999;
}

.logo{
  display: flex;
  align-items: center;
  font-weight: 900;
  margin-left: 15px;
}

header .inner {
  display: flex;
  justify-content: space-between;
}

.inner ul{
  display: flex;
  justify-content: space-between;
}

.inner ul li{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 10px 20px;
  cursor: pointer;
}

.auth{
  display: flex;
  align-items: center;
}
